[submodule "external/nodeeditor"]
	path = external/nodeeditor
	url = https://github.com/paceholder/nodeeditor.git
[submodule "src/QKDInterfaces/proto"]
	path = src/QKDInterfaces/proto
	url = https://github.com/Open-QKD-Network/qkdinterfaces.git
