[submodule "external/idq4p"]
	path = external/idq4p
	url = ../idq4p.git
	update = none
[submodule "external/nodeeditor"]
	path = external/nodeeditor
	url = https://github.com/paceholder/nodeeditor.git
[submodule "src/QKDInterfaces/proto"]
	path = src/QKDInterfaces/proto
	url = https://gitlab.com/QComms/qkdinterfaces.git
