build/gcc/*
CMakeLists.txt.user
external/nginx/nginx
external/chromium/chromium-browser-*
/cppcheck-cppcheck-build-dir/
setup/generated/*
external/chromium/chromium-browser_*.tar.xz
external/chromium/chromium-browser_*.dsc
external/chromium/*.buildinfo
external/chromium/*.changes
external/chromium/*.deb
external/chromium/*.ddeb
external/nginx/nginx-*
external/nginx/*.deb
external/nginx/*.ddeb
external/nginx/*.dsc
external/nginx/*.tar.gz
external/nginx/*.tar.xz
external/nginx/*.buildinfo
external/nginx/*.changes
